@font-face {
  font-family: "Berlingske Serif";
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.svg#BerlingskeSerif-Md") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Berlingske Serif";
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.ttf") format("truetype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.svg#BerlingskeSerif-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.svg#HelveticaNeue-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

section, footer {
  width: 100%;
  padding: 70px 0;
}

.btn__primary {
  width: 250px;
  height: 70px;
  color: #fff;
  background-color: #464646;
  border-radius: 10px;
  padding: 20px 60px;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn__primary:hover {
  background-color: #D1C7A9;
}

nav {
  padding: 40px 0;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav.sticky {
  background-color: #1A1A18;
}
nav.inverse.sticky ul li a {
  color: #fff;
}
nav.inverse.sticky ul li svg {
  fill: #fff;
}
nav.inverse.sticky .dropdown button {
  color: #fff;
}
nav.inverse.sticky .dropdown ul li a {
  color: #000;
}
nav.inverse ul li a {
  color: #1A1A18;
}
nav.inverse ul li svg {
  fill: #1A1A18;
}
nav.inverse .dropdown button {
  color: #1A1A18;
}
nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  color: #fff;
}
nav > ul li a {
  color: #fff;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav > ul li a:hover {
  color: #D1C7A9;
}
nav > ul li svg {
  display: block;
  margin: 0 59px;
}
nav .dropdown {
  position: absolute;
  top: 54px;
  right: 10%;
}
nav .dropdown ul li a {
  color: #1A1A18;
}
nav .dropdown button {
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav .dropdown button:hover {
  color: #D1C7A9;
}
nav .dropdown button svg {
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}
nav .dropdown button.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
nav .dropdown button.active ~ ul {
  max-height: 98.5px;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016), 12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029), 100px 100px 80px rgba(0, 0, 0, 0.04);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016), 12.5px 12.5px 10px rgba(0, 0, 0, 0.02), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029), 100px 100px 80px rgba(0, 0, 0, 0.04);
}
nav .dropdown ul {
  overflow: hidden;
  max-height: 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav .dropdown ul li {
  cursor: pointer;
  color: #1A1A18;
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
nav .dropdown ul li:hover {
  background-color: #e5e5e5;
}
nav .toggle-menu {
  display: none;
}
nav .mobile__nav {
  display: none;
}

@media screen and (max-width: 1440px) {
  nav ul {
    gap: 18px;
  }
  nav ul li svg {
    width: 200px;
    margin: 0 30px;
  }
  nav .dropdown {
    top: 56px;
    right: 5%;
  }
  nav .dropdown button svg {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 1024px) {
  nav.inverse .toggle-menu .bar {
    background-color: #1A1A18;
  }
  nav.inverse.sticky .toggle-menu .bar {
    background-color: #fff;
  }
  nav.inverse .mobile__nav .nav__link a {
    color: #fff;
  }
  nav ul .nav__link {
    display: none;
  }
  nav .dropdown {
    display: none;
  }
  nav .toggle-menu {
    position: absolute;
    right: 5%;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
  }
  nav .toggle-menu .bar {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  nav .toggle-menu.checked .bar:first-of-type {
    -webkit-transform: rotate(45deg) translateY(8px);
            transform: rotate(45deg) translateY(8px);
  }
  nav .toggle-menu.checked .bar:nth-of-type(2) {
    opacity: 0;
  }
  nav .toggle-menu.checked .bar:last-of-type {
    -webkit-transform: rotate(-45deg) translateY(-8px);
            transform: rotate(-45deg) translateY(-8px);
  }
  nav .mobile__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #1A1A18;
    padding: 128px 0 24px 0;
    z-index: -1;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  nav .mobile__nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  nav .mobile__nav .nav__link {
    display: block;
  }
  nav .mobile__nav li:not(.nav__link) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  nav .mobile__nav li:not(.nav__link) button {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 768px) {
  nav .mobile__nav .nav__link a {
    font-size: 16px;
  }
  nav .mobile__nav li:not(.nav__link) button {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  nav .mobile__nav .nav__link a {
    font-size: 16px;
  }
  nav .mobile__nav li:not(.nav__link) button {
    font-size: 16px;
  }
  nav ul li svg {
    width: 180px;
  }
}
footer {
  background-color: #1A1A18;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
}

.footer__container {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__container .block_1 svg {
  fill: #fff;
  margin-bottom: 24px;
}
.footer__container .block_1 p {
  font-size: 18px;
  line-height: 24px;
  width: 380px;
}
.footer__container .block_2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer__container .block_2 ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.footer__container .block_2 ul li a:hover {
  color: #D1C7A9;
}
.footer__container .block_3 {
  text-align: right;
}
.footer__container .block_3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer__container .block_3 ul li a {
  color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.footer__container .block_3 ul li a:hover {
  color: #D1C7A9;
}
.footer__container .block_3 ul .footer__socials ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.block_4 {
  width: 1300px;
  margin: 50px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_4 p:first-child {
  text-transform: uppercase;
}
.block_4 p {
  color: #73777A;
  font-size: 16px;
  font-weight: 400;
}
.block_4 a {
  color: #73777A;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.block_4 a:hover {
  color: #D1C7A9;
}

@media screen and (max-width: 1440px) {
  .footer__container {
    width: 1000px;
  }
  .footer__container .block_1 svg {
    width: 200px;
  }
  .footer__container .block_1 p {
    width: 300px;
    font-size: 16px;
  }
  .footer__container .block_2 ul {
    gap: 18px;
  }
  .footer__container .block_2 ul li a {
    font-size: 16px;
  }
  .footer__container .block_3 li a {
    font-size: 16px;
  }
  .block_4 {
    width: 1000px;
  }
  .block_4 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__container {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .block_1 {
    text-align: center;
  }
  .footer__container .block_1 svg {
    width: 200px;
  }
  .footer__container .block_1 p {
    width: 375px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
  }
  .footer__container .block_2 {
    margin-top: 30px;
  }
  .footer__container .block_2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  .footer__container .block_2 ul li a {
    font-size: 16px;
  }
  .footer__container .block_3 {
    margin-top: 30px;
    text-align: center;
  }
  .footer__container .block_3 ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .footer__container .block_3 ul li a {
    font-size: 16px;
  }
  .footer__container .block_3 ul .footer__socials ul {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .block_4 {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .block_2 ul li a {
    font-size: 16px;
  }
  .block_4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    width: 300px;
  }
  .footer__container .block_1 p {
    font-size: 14px;
    width: 290px;
  }
  .footer__container .block_2 ul li a {
    font-size: 14px;
  }
  .footer__container .block_3 ul li a {
    font-size: 14px;
  }
  .footer__container .block_4 {
    font-size: 14px;
  }
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 430px;
  margin: 0 auto 100px auto;
  padding-top: 250px;
  font-family: "Helvetica Neue", sans-serif;
}
.contacts h2 {
  font-size: 42px;
}

.contacts__info {
  font-size: 18px;
}
.contacts__info p {
  font-weight: 300;
  margin-bottom: 15px;
}
.contacts__info a {
  font-weight: 500;
  color: #1A1A18;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.contacts__info a:hover {
  color: #D1C7A9;
}
.contacts__info ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1440px) {
  .contacts h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  .contacts {
    gap: 20px;
    width: 320px;
    padding-top: 200px;
  }
  .contacts h2 {
    font-size: 26px;
  }
  .contacts__info {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .contacts {
    width: 280px;
    padding-top: 180px;
  }
  .contacts h2 {
    font-size: 24px;
  }
  .contacts__info {
    font-size: 16px;
  }
}