@font-face {
  font-family: "Berlingske Serif";
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.svg#BerlingskeSerif-Md") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Berlingske Serif";
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.ttf") format("truetype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.svg#BerlingskeSerif-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Roman.svg#HelveticaNeue-Roman") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/*@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-LightBETA.eot');
  src: url('../fonts/Inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-LightBETA.woff') format('woff'),
  url('../fonts/Inter/Inter-LightBETA.ttf') format('truetype'),
  url('../fonts/Inter/Inter-LightBETA.svg#Inter-LightBETA') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.eot');
  src: url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-Regular.woff') format('woff'),
  url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
  url('../fonts/Inter/Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.eot');
  src: url('../fonts/Inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Inter/Inter-Medium.woff') format('woff'),
  url('../fonts/Inter/Inter-Medium.ttf') format('truetype'),
  url('../fonts/Inter/Inter-Medium.svg#Inter-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn__primary {
  width: 290px;
  height: 80px;
  color: #fff;
  background-color: #1A1A18;
  border-radius: 15px;
  padding: 24px 48px;
  font-size: 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn__primary:hover {
  background-color: #D1C7A9;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

section, footer {
  width: 100%;
  padding: 70px 0;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main_background.webp");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
header nav {
  padding: 40px 0;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  color: #fff;
}
header nav > ul li a {
  color: #fff;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav > ul li a:hover {
  color: #D1C7A9;
}
header nav > ul li svg {
  display: block;
  margin: 0 59px;
}
header nav .dropdown {
  position: absolute;
  top: 54px;
  right: 10%;
}
header nav .dropdown button {
  padding: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
header nav .dropdown button svg {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav .dropdown button.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
header nav .dropdown button.active ~ ul {
  max-height: 94px;
}
header nav .dropdown ul {
  overflow: hidden;
  max-height: 0;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
header nav .dropdown ul li {
  cursor: pointer;
  color: #1A1A18;
  padding: 5px 15px;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
header nav .dropdown ul li:hover {
  background-color: #e5e5e5;
}
header nav .toggle-menu {
  display: none;
}
header nav .mobile__nav {
  display: none;
}
header .info {
  color: #fff;
  width: 745px;
  position: absolute;
  right: 10%;
  bottom: 120px;
}
header .info h1 {
  font-family: "Berlingske Serif", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  margin-bottom: 24px;
}
header .info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Helvetica Neue", sans-serif;
  color: #D1C7A9;
}
header .info a:hover svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

section .people__info h2 {
  text-align: center;
  font-family: "Berlingske Serif", sans-serif;
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 56px;
}
section .people__info .people__cards {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 14px 1fr 14px 1fr 14px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  margin-bottom: 72px;
}
section .people__info .person__card {
  width: 320px;
  height: 400px;
  position: relative;
}
section .people__info .person__card .person__info {
  color: #fff;
  position: absolute;
  bottom: 32px;
  left: 12%;
}
section .people__info .person__card .person__info h4 {
  font-size: 26px;
  font-family: "Berlingske Serif", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4px;
}
section .people__info .person__card .person__info p {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.info__section {
  background-color: #F5F5F7;
}

.big__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.big__slide {
  width: 1300px;
  margin: 0 auto;
  height: 616px;
  background-color: #fff;
  border-radius: 15px;
}
.big__slide .info {
  width: 1175px;
  margin: 0 auto;
  padding: 100px 0;
}
.big__slide .info h2 {
  margin-bottom: 50px;
  font-size: 42px;
  font-family: "Berlingske Serif", sans-serif;
  font-weight: 600;
}
.big__slide .info p {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
}

.small__slides {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.small__slide {
  width: 650px;
  height: 650px;
  background-color: #fff;
  border-radius: 15px;
}
.small__slide .info {
  width: 500px;
  margin: 0 auto;
  padding: 100px 0;
}
.small__slide .info h2 {
  margin-bottom: 24px;
  font-size: 28px;
  font-family: "Berlingske Serif", sans-serif;
  font-weight: 600;
}
.small__slide .info h2 span {
  visibility: hidden;
}
.small__slide .info p {
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
}

footer {
  background-color: #1A1A18;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
}

.footer__container {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__container .block_1 svg {
  fill: #fff;
  margin-bottom: 24px;
}
.footer__container .block_1 p {
  font-size: 16px;
  line-height: 24px;
  width: 380px;
}
.footer__container .block_2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer__container .block_2 ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer__container .block_3 {
  text-align: right;
}

@media screen and (max-width: 1440px) {
  header {
    height: 90vh;
  }
  header nav ul {
    gap: 18px;
  }
  header nav ul li a {
    font-size: 14px;
  }
  header nav ul li svg {
    width: 200px;
    margin: 0 30px;
  }
  header nav .dropdown {
    top: 56px;
    right: 5%;
  }
  header nav .dropdown button {
    font-size: 14px;
  }
  header nav .dropdown button svg {
    width: 18px;
    height: 18px;
  }
  header .info {
    width: 500px;
    right: 5%;
  }
  header .info h1 {
    font-size: 38px;
  }
  section .container {
    width: 1000px;
  }
  section .container .people__info h2 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  section .container .people__info .people__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
  }
  .big__slide {
    width: 1000px;
    height: 550px;
  }
  .big__slide .info {
    width: 900px;
    padding: 80px 0;
  }
  .big__slide .info h2 {
    font-size: 36px;
  }
  .big__slide .info p {
    font-size: 20px;
  }
  .small__slides {
    width: 1000px;
  }
  .small__slide {
    width: 500px;
    height: 650px;
  }
  .small__slide .info {
    width: 400px;
    margin: 0 auto;
    padding: 80px 0;
  }
  .small__slide .info h2 {
    font-size: 26px;
  }
  .small__slide .info p {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 70vh;
  }
  header nav ul .nav__link {
    display: none;
  }
  header nav .dropdown {
    display: none;
  }
  header nav .mobile__nav {
    display: block;
  }
  header .info {
    width: 500px;
    right: 1%;
  }
  header .info h1 {
    font-size: 38px;
  }
  section .container {
    width: 768px;
  }
  section .container .people__info h2 {
    font-size: 38px;
  }
  section .container .people__info .people__cards {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  section .container .btn__primary {
    padding: 18px 38px;
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .big__slides {
    gap: 24px;
  }
  .big__slide {
    width: 750px;
  }
  .big__slide .info {
    width: 600px;
    padding: 50px 0;
  }
  .big__slide .info h2 {
    font-size: 28px;
  }
  .big__slide .info p {
    font-size: 18px;
  }
  .small__slides {
    width: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .small__slide {
    width: 750px;
  }
  .small__slide .info {
    width: 600px;
    padding: 50px 0;
  }
  .small__slide .info h2 {
    font-size: 28px;
  }
  .small__slide .info p {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 512px;
  }
  header .info {
    width: 373px;
    right: 24px;
    bottom: 56px;
  }
  header .info h1 {
    font-size: 32px;
  }
  section .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .container .people__info {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .container .people__info h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  section .container .people__info .people__cards {
    margin-bottom: 30px;
  }
  section .container .people__info .person__card {
    width: 220px;
    height: 274px;
  }
  section .container .people__info .person__card .person__info {
    bottom: 20px;
    left: 2%;
  }
  section .container .people__info .person__card .person__info h4 {
    font-size: 20px;
  }
  section .container .people__info .person__card .person__info p {
    text-align: center;
  }
  section .container .btn__primary {
    padding: 15px 24px;
  }
  .big__slide {
    width: 450px;
    height: 480px;
  }
  .big__slide .info {
    width: 400px;
    padding: 30px 0;
  }
  .big__slide .info h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .big__slide .info p {
    margin-bottom: 50px;
    font-size: 18px;
  }
  .big__slide .info .btn__primary {
    padding: 15px 24px;
  }
  .small__slides {
    width: 450px;
  }
  .small__slide {
    width: 450px;
    height: 540px;
  }
  .small__slide .info {
    width: 400px;
    padding: 30px 0;
  }
  .small__slide .info h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  .small__slide .info p {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 590px;
    background: url("../img/main__bg-mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header nav ul li svg {
    width: 180px;
  }
  header .info {
    width: 280px;
    left: 14px;
    bottom: 32px;
  }
  header .info h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  header .info a {
    font-size: 16px;
  }
  section {
    padding: 50px 0;
  }
  section .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .container .people__info h2 {
    font-size: 24px;
  }
  section .container .people__info .people__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .big__slide {
    width: 300px;
    height: 480px;
  }
  .big__slide .info {
    width: 270px;
    padding: 30px 0;
  }
  .big__slide .info h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .big__slide .info p {
    margin-bottom: 50px;
    font-size: 14px;
  }
  .small__slides {
    width: 300px;
  }
  .small__slide {
    width: 300px;
    height: 500px;
  }
  .small__slide .info {
    width: 270px;
  }
  .small__slide .info h2 {
    font-size: 20px;
  }
  .small__slide .info p {
    font-size: 14px;
  }
}