// PEOPLE
section {
  .people__info {
    h2 {
      text-align: center;
      font-family: 'Berlingske Serif', sans-serif;
      font-weight: 600;
      font-size: 56px;
      margin-bottom: 56px;
    }
    .people__cards{
      width: fit-content;
      margin: 0 auto 72px auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 14px;
    }
    .person__card {
      width: 320px;
      height: 400px;
      position: relative;
      .person__info {
        h4 {
          font-size: 26px;
          font-family: 'Berlingske Serif', sans-serif;
          font-weight: 600;
          text-align: center;
          margin-bottom: 4px;
        }
        p {
          font-size: 16px;
          font-family: 'Helvetica Neue', sans-serif;
          font-weight: 300;
        }
        color: #fff;
        position: absolute;
        bottom: 32px;
        left: 12%;
      }
    }
  }
}
// PEOPLE END

@media screen and (max-width: 1440px) {
  // PEOPLE MEDIA 1440
  section {
    .container {
      width: 1000px;
      .people__info {
        h2 {
          font-size: 48px;
          margin-bottom: 50px;
        }
        .people__cards{
          grid-template-columns: repeat(3, 1fr);
          margin-bottom: 50px;
        }
      }
    }
  }
  // PEOPLE MEDIA 1440 END
}
@media screen and (max-width: 1024px) {
  // PEOPLE MEDIA 1024
  section {
    .container {
      width: 768px;
      .people__info {
        h2 {
          font-size: 38px;
        }
        .people__cards{
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        }
      }
      .btn__primary {
        padding: 18px 38px;
        width: 220px;
        height: 50px;
        font-size: 16px;
      }
    }
  }
  // PEOPLE MEDIA 1024 END
}
@media screen and (max-width: 768px) {
  // PEOPLE 768
  section {
    .container {
      width: fit-content;
      .people__info {
        width: fit-content;
        h2 {
          font-size: 28px;
          margin-bottom: 30px;
        }
        .people__cards{
          margin-bottom: 30px;
        }
        .person__card {
          width: 220px;
          height: 274px;
          .person__info {
            h4 {
              font-size: 20px;
            }
            p {
              text-align: center;
            }
            bottom: 20px;
            left: 2%;
          }
        }
      }
      .btn__primary {
        padding: 15px 24px;
      }
    }
  }
  // PEOPLE 768 END
}
@media screen and (max-width: 480px) {
  // PEOPLE MEDIA 480
  section {
    padding: 50px 0;
    .container {
      width: fit-content;
      .people__info {
        h2 {
          font-size: 24px;
        }
        .people__cards {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  // PEOPLE MEDIA 480 END
}