@font-face {
	font-family: 'Berlingske Serif';
	src: url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-Md.eot');
	src: url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix') format('embedded-opentype'),
			 url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-Md.woff') format('woff'),
			 url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf') format('truetype'),
			 url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-Md.svg#BerlingskeSerif-SemiBold') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, div, h1, p, a, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

body {
	font: normal normal 300 normal 18px/1.8 'Helvetica Neue', sans-serif;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #1D2838;
	color: #FFFFFF;
}

body > ul {
	position: absolute;
	right: 5%;
	top: 2.5%;
	display: flex;
	gap: 24px;
}

body > ul li a {
	text-transform: uppercase;
}

body picture {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}

body picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top right;
}

body div {
	position: absolute;
	left: 120px;
	bottom: 150px;
	width: 620px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

body div h1 {
	font: normal normal 500 normal 64px 'Berlingske Serif', sans-serif;
}

body div ul {
	display: flex;
	gap: 24px;
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
	body picture img {
		object-position: top 0 right -190px;
	}

	body div {
		left: 80px;
	}
}

@media screen and (min-width: 1025px) and (orientation: portrait) {
	body {
		font-size: 22px;
	}

	body picture img {
		object-position: top 0 right 10%;
	}

	body div {
		padding: 115px 75px 115px 50px;
		gap: 50px;
	}

	body div h1 {
		transform: translateY(-75px);
		font-size: 84px;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	body {
		font-size: 14px;
	}

	body picture img {
		object-position: top 0 right -120px;
	}

	body div {
		width: 450px;
		bottom: 50%;
		transform: translateY(50%);
		gap: 16px;
	}

	body div h1 {
		font-size: 42px;
	}
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
	body {
		font-size: 22px;
	}

	body picture img {
		object-position: top 0 right -115px;
	}

	body div {
		padding: 115px 75px 115px 50px;
		gap: 50px;
	}

	body div h1 {
		transform: translateY(-55px);
		font-size: 64px;
	}
}

@media screen and (max-width: 744px) and (orientation: landscape) {
	body {
		font-size: 12px;
	}

	body picture img {
		object-position: right 150px top;
	}

	body div {
		width: 400px;
		bottom: 50%;
		left: 50px;
		transform: translateY(50%);
		gap: 16px;
	}

	body div h1 {
		font-size: 32px;
	}
}

@media screen and (max-width: 744px) and (orientation: portrait) {
	body {
		font-size: 18px;
	}

	body picture img {
		object-position: top 0 right 20%;
	}

	body div {
		padding: 100px 50px;
	}

	body div h1 {
		transform: translateY(-65px);
		font-size: 38px;
	}
}

@media screen and (max-width: 430px) and (orientation: portrait) {
	body {
		font-size: 14px;
	}

	body picture img {
		object-position: top 0 right 20%;
	}

	body div {
		padding: 50px 20px 75px;
		gap: 40px;
	}

	body div h1 {
		transform: translateY(-35px);
		font-size: 32px;
	}
}

@media screen and (orientation: portrait) {
	body {
		min-height: 100vh;
		height: auto;
		color: #1D2838;
		overflow-y: visible;
	}

	body > ul li a {
		color: #FFFFFF;
	}

	body picture {
		display: block;
		height: 70vh;
	}

	body div {
		position: relative;
		left: 0;
		bottom: 0;
		width: 100%;
		transform: none;
		background-color: #FFFFFF;
		min-height: 30vh;
	}

	body div h1 {
		position: absolute;
		bottom: 100%;
		color: #FFFFFF;
	}

	body div ul li a svg path {
		fill: #1D2838;
	}
}
