@font-face {
	font-family: 'Berlingske Serif';
	src: url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot');
	src: url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff') format('woff'),
	url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.ttf') format('truetype'),
	url('./assets/fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.svg#BerlingskeSerif-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 18px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	overflow: hidden;
	height: 100vh;
	background-color: #1D2838;
	background-image: url('assets/images/bg.webp');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: auto 100vh;
	font-family: 'Helvetica Neue', sans-serif;
}

body .links {
	position: absolute;
	display: flex;
	gap: 20px;
	top: 50px;
	right: 100px;
}

body .links li a {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 22px;
	color: white;
}

body div {
	max-width: 750px;
	position: absolute;
	left: 120px;
	bottom: 155px;
	color: white;
}

body div h1 {
	font-family: 'Berlingske Serif', sans-serif;
	font-size: 80px;
	font-weight: 600;
	margin-bottom: 20px;
}

body div p {
	font-size: 22px;
	margin-bottom: 24px;
	line-height: 1.5;
	font-weight: 300;
	color: #DADADA;
}

body div ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 24px;
}

@media screen and (max-width: 1440px) {
	body {
		background-size: auto 100vh;
		background-position: right -190px bottom;
	}

	body .links li a {
		font-size: 18px;
	}

	body div {
		max-width: 600px;
	}

	body div h1 {
		font-size: 64px;
		margin-bottom: 24px;
	}

	body div p {
		font-size: 18px;
	}
}

@media screen and (max-width: 1024px) {
	body {
		background-size: auto calc(100vh - 350px);
		background-position: right -120px top;
	}

	body .links {
		top: 30px;
		right: 60px;
	}

	body .links li a {
		font-size: 22px;
	}

	body div {
		position: absolute;
		max-width: 100%;
		max-height: 500px;
		background-color: white;
		bottom: 0;
		left: 0;
		padding: 50px 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	body div h1 {
		font-size: 68px;
		position: absolute;
		top: -220px;
		left: 50px;
		margin-bottom: 0;
	}

	body div p {
		color: #1D2838;
		font-size: 22px;
		width: 100%;
		margin-bottom: 30px;
	}

	body div ul li a svg path {
		fill: #1D2838;
	}
}

@media screen and (max-width: 744px) {
	body {
		background-size: auto calc(100vh - 340px);
		background-position: right 20% top;
	}

	body .links li a {
		font-size: 18px;
	}

	body div {
		padding: 60px 40px;
	}

	body div h1 {
		font-size: 38px;
		top: -155px;
	}

	body div p {
		font-size: 18px;
	}
}

@media screen and (max-width: 430px) {
	body {
		background-position: right 25% top;
		background-size: auto calc(100vh - 360px);
	}

	body .links {
		right: 30px;
		top: 20px;
	}

	body .links li a {
		font-size: 14px;
	}

	body div {
		padding: 50px 20px;
	}

	body div h1 {
		font-size: 32px;
		top: -110px;
		left: 20px;
	}

	body div p {
		font-size: 14px;
	}
}
