// FONTS
@font-face {
	font-family: 'Berlingske Serif';
	src: url('../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot');
	src: url('../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff') format('woff'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf') format('truetype'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-Md.svg#BerlingskeSerif-Md') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Berlingske Serif';
	src: url('../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot');
	src: url('../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.woff') format('woff'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.ttf') format('truetype'),
	url('../fonts/BerlingskeSerif/BerlingskeSerif-SemiBold.svg#BerlingskeSerif-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Roman.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Roman.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Roman.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot');
	src: url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf') format('truetype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
