@import 'variables';

// FOOTER
footer {
	font-family: 'Helvetica Neue', sans-serif;
	color: #FFFFFF;
	background-color: $primary__color;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	width: 1300px;
	margin: 0 auto;

	.block_1 {
		svg {
			margin-bottom: 24px;
			fill: #FFFFFF;
		}

		p {
			font-size: 18px;
			line-height: 24px;
			width: 380px;
		}
	}

	.block_2 {
		ul {
			display: flex;
			gap: 24px;

			li a {
				font-size: 18px;
				font-weight: 400;
				transition: $transition;
				text-transform: uppercase;
				color: #FFFFFF;

				&:hover {
					color: $secondary__color;
				}
			}
		}
	}

	.block_3 {
		text-align: right;

		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;

			li a {
				transition: $transition;
				color: #FFFFFF;

				&:hover {
					color: $secondary__color;
				}
			}

			.footer__socials ul {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 15px;
			}
		}
	}
}

.block_4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1300px;
	margin: 50px auto 0 auto;

	p:first-child {
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		font-weight: 400;
		color: #73777A;
	}

	a {
		transition: $transition;
		color: #73777A;

		&:hover {
			color: $secondary__color;
		}
	}
}

// FOOTER END

@media screen and (max-width: 1440px) {
	// FOOTER MEDIA 1440
	.footer__container {
		width: 1000px;

		.block_1 {
			svg {
				width: 200px;
			}

			p {
				font-size: 16px;
				width: 300px;
			}
		}

		.block_2 {
			ul {
				li a {
					font-size: 16px;
				}

				gap: 18px;
			}
		}

		.block_3 {
			li a {
				font-size: 16px;
			}
		}
	}
	.block_4 {
		width: 1000px;

		p {
			font-size: 16px;
		}
	}
	// FOOTER MEDIA 1440 END
}

@media screen and (max-width: 1024px) {
	// FOOTER MEDIA 1024
	.footer__container {
		flex-direction: column;
		width: 768px;

		.block_1 {
			text-align: center;

			svg {
				width: 200px;
			}

			p {
				font-size: 16px;
				width: 375px;
				margin: 0 auto;
				text-align: center;
			}
		}

		.block_2 {
			margin-top: 30px;

			ul {
				align-items: center;
				flex-direction: column;
				justify-content: center;
				gap: 24px;

				li a {
					font-size: 16px;
				}
			}
		}

		.block_3 {
			margin-top: 30px;
			text-align: center;

			ul {
				align-items: center;
				justify-content: center;
				gap: 15px;

				li a {
					font-size: 16px;
				}

				.footer__socials ul {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 200px;
				}
			}
		}
	}
	.block_4 {
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 768px;
		gap: 15px;
	}
	// FOOTER MEDIA 1024 END
}

@media screen and (max-width: 768px) {
	// FOOTER MEDIA 768
	.footer__container {
		width: fit-content;
	}
	.block_2 {
		ul li {
			a {
				font-size: 16px;
			}
		}
	}
	.block_4 {
		width: fit-content;
	}
	// FOOTER MEDIA 768 END
}

@media screen and (max-width: 480px) {
	// FOOTER MEDIA 480
	.footer__container {
		width: 300px;

		.block_1 {
			p {
				font-size: 14px;
				width: 290px;
			}
		}

		.block_2 {
			ul li {
				a {
					font-size: 14px;
				}
			}
		}

		.block_3 {
			ul {
				li a {
					font-size: 14px;
				}
			}
		}

		.block_4 {
			font-size: 14px;
		}
	}
	// FOOTER MEDIA 480 END
}
