@import 'variables';

// PEOPLE
.people__cards {
	display: grid;
	width: fit-content;
	margin: 0 auto 72px auto;
	grid-template-columns: repeat(4, 1fr);
	gap: 14px;
}

.person__card {
	position: relative;
	width: 320px;
	height: 400px;
	transition: $transition;

	.person__info {
		position: absolute;

		bottom: 32px;

		left: 7%;
		color: #FFFFFF;

		h4 {
			font-family: 'Berlingske Serif', sans-serif;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 4px;
			text-align: center;
		}

		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 18px;
			font-weight: 300;
		}
	}

	&:hover {
		transform: scale(0.9);
		opacity: 0.8;
	}
}

// PEOPLE END

@media screen and (max-width: 1440px) {
	// PEOPLE MEDIA 1440
	.people__cards {
		margin-bottom: 50px;
		grid-template-columns: repeat(3, 1fr);
	}
	// PEOPLE MEDIA 1440 END
}

@media screen and (max-width: 1024px) {
	// PEOPLE MEDIA 1024
	.people__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
	// PEOPLE MEDIA 1024 END
}

@media screen and (max-width: 768px) {
	// PEOPLE 768
	.people__cards {
		margin-bottom: 30px;
	}

	.person__card {
		width: 220px;
		height: 274px;

		.person__info {
			bottom: 20px;

			left: 2%;

			h4 {
				font-size: 20px;
			}

			p {
				font-size: 16px;
				text-align: center;
			}
		}
	}
	// PEOPLE 768 END
}

@media screen and (max-width: 480px) {
	// PEOPLE MEDIA 480
	.people__cards {
		grid-template-columns: 1fr;
	}
	// PEOPLE MEDIA 480 END
}
