// COLORS
$primary__color: #181818;
$secondary__color: #D1C7A9;
$greyBg__color: #F5F5F7;

// TRANSITION
$transition: all 400ms ease;

// FONTS
$title-font: 'Berlingske Serif';
$paragraph-font: 'Helvetica Neue';
